body{
    box-sizing: border-box;
}
.recetas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.recetas article{
    width: 45%;
    margin-left: 50px;
}

.recetas article img{
    width: 500px;
}
h1{
    text-align: center;
}
.imagen_receta img{
width: 100%;
}


    