body{
    box-sizing: border-box;
}
.recetas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.recetas article{
    width: 30%;
}

.recetas article img{
    width: 200px;
}